torch==1.13.1
transformer-lens==1.15.0
pygraphviz #conda install --channel conda-forge pygraphviz
pytest==8.1.1
matplotlib==3.8.4
dataclasses_json==0.6.4
networkx==3.3
torchtyping==0.1.4
plotly==5.21.0
cmapy==0.6.6